body {
    margin: 0;
    padding: 2rem;
    font-family: Rubik, sans-serif;
    background: rgb(255, 255, 255);
    background-image: url('./../img/home12_bg.jpg'); 
    background-repeat: no-repeat;
}

